<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wistronits.tms.dao.IGroupDao">
	<resultMap id="BaseResultMap" type="com.wistronits.tms.entity.GroupBean">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="addGroup" useGeneratedKeys="true" keyProperty="id">
	  <![CDATA[
	  		insert into groups(id,name,remark) 
	  		values(#{id},#{name},#{remark})
	  	]]>
	</insert>
	<select id="listByName" resultMap="BaseResultMap">
	<!-- mysql like的写法
     like concat('%',#{param},'%')  或者 like '%${param}%' ，推荐使用前者，可以避免sql注入。   -->
  		
	  		select * from groups A  
	<if test="_parameter !=null and _parameter!=''">
	 	  <![CDATA[  where  A.name=#{_parameter}	]]>
	  </if>
	
	</select>
	<select id="getGroupById" resultMap="BaseResultMap">
  		<![CDATA[
	  		select * from groups A  where  A.id=#{id}
		]]>
	</select>
	
	<update id="editGroup" >
	<![CDATA[
	update groups set name=#{name},remark=#{remark} where id=#{id} 
	]]>	
	</update>
	
	<delete id="deleteGroup">
	<![CDATA[
	delete from groups where groups.id=#{id}
	]]>
	</delete>
	
	<select id="getCanJoinGroups" resultMap="BaseResultMap">
  		<![CDATA[
	SELECT b.* FROM groups b WHERE NOT EXISTS (SELECT a.group_id FROM user_group a WHERE a.user_id=#{uid} AND b.id=a.group_id) order by id

		]]>
	</select>
	<select id="getTheBelongGroup" resultMap="BaseResultMap">
  		<![CDATA[
	SELECT a.* FROM groups a LEFT JOIN user_group b ON a.id=b.group_id LEFT JOIN USER c 
	ON b.user_id=c.id WHERE c.id=#{uid} order by id

		]]>
	</select>
	<update id="editTheBelongGroup" >
	<![CDATA[
	update user_group set group_id=#{1} where user_id=#{0} 
	]]>	
	</update>

	
</mapper>