<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wistronits.tms.entity.sqlmapping.ImportResourceBeanMapper">
	<insert id="insertResource" parameterType="com.wistronits.tms.entity.ImportResourceBean">
         insert into import_resource (first_name, last_name, birth,gender,file_path)
     		values (#{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, #{birth,jdbcType=DATE}, 
       			#{gender,jdbcType=BOOLEAN},#{filePath,jdbcType=VARCHAR})
     </insert>
</mapper>