<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wistronits.tms.dao.IJDBeanDao">
	<resultMap id="BaseResultMap" type="com.wistronits.tms.entity.JDBean">
		<id column="no" property="no" jdbcType="INTEGER" />
		<result column="priority" property="priority" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="client" property="client" jdbcType="VARCHAR" />
		<result column="openings" property="openings" jdbcType="INTEGER" />
		<result column="duration" property="duration" jdbcType="INTEGER" />
		<result column="location" property="location" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="payrate" property="payrate" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="keyword" property="keyword" jdbcType="VARCHAR" />
		<result column="notes" property="notes" jdbcType="VARCHAR" />
		<result column="local" property="local" jdbcType="BOOLEAN" />
		<result column="owner" property="owner" jdbcType="INTEGER" />
		<result column="modifydate" property="modifydate" jdbcType="TIMESTAMP"/>
	</resultMap>

	<insert id="saveJDBean" useGeneratedKeys="true" keyProperty="no">
	  <![CDATA[
	  		insert into jd(no,priority,title,client,status,location,duration,payrate,keyword,local,
	  		owner,description,qualification,notes,modifydate) values(#{no},#{priority},#{title},#{client},#{status},#{location},#{duration}
	  		,#{payrate},#{keyword},#{local},#{owner},#{description},#{qualification},#{notes},#{modifydate})
	  	]]>
	</insert>
	<select id="listByKeyword" resultMap="BaseResultMap">
	<!-- mysql like的写法
     like concat('%',#{param},'%')  或者 like '%${param}%' ，推荐使用前者，可以避免sql注入。   -->
  		<![CDATA[
	  		select * from jd A  where A.status=1 and A.title like concat('%',#{keyword},'%') 
	  		union  select * from jd A where A.status=1 and A.description like concat('%',#{keyword},'%')
		]]>
	</select>
	<select id="getJD" resultMap="BaseResultMap">
  		<![CDATA[
	  		select * from jd A  where  A.no=#{no}
		]]>
	</select>
	
	<update id="editJDBean" >
	<![CDATA[
	update jd set priority=#{priority},title=#{title},client=#{client},location=#{location},duration=#{location},duration=#{duration},
	payrate=#{payrate},keyword=#{keyword},local=#{local},owner=#{owner},description=#{description},qualification=#{qualification},
	notes=#{notes},modifydate=#{modifydate} where no=#{no} and status=#{status}
	]]>	
	</update>
	
	<update id="closeJD">
	<![CDATA[
	update jd set status=0,modifydate=#{1} where no=#{0}
	]]>
	</update>
	
	<select id="listAll" resultMap="BaseResultMap">
  		<![CDATA[
	  		select * from jd 
		]]>
	</select>
	<select id="listCurrentWeekCount" resultType="int">
	  		SELECT count(*) FROM jd WHERE modifydate>DATE_SUB(CURDATE(), INTERVAL 1 WEEK) 
	</select>
	
	<select id="getJDsNotInAdd" resultMap="BaseResultMap">
     SELECT a.* FROM jd a WHERE NOT EXISTS (SELECT b.resource_id FROM jd_resume_resource b WHERE b.resource_id=#{rid} AND b.jd_id=a.no)
     </select>
	
	<select id="getJDsInAdd" resultMap="BaseResultMap">
     	SELECT a.* FROM jd a LEFT JOIN jd_resume_resource b ON b.jd_id =a.no LEFT JOIN RESUME c ON c.id=b.resource_id WHERE c.id=#{rid}
     </select>

	
</mapper>