<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wistronits.tms.dao.IResumeDao">
	<resultMap id="BaseResultMap" type="com.wistronits.tms.entity.ResumeBean">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="firstname" property="firstname" jdbcType="VARCHAR" />
		<result column="lastname" property="latname" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="ImportResourceBeanResultMap" type="com.wistronits.tms.entity.ImportResourceBean">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="first_name" property="firstName" jdbcType="VARCHAR" />
		<result column="last_name" property="lastName" jdbcType="VARCHAR" />
		<result column="birth" property="birth" jdbcType="DATE" />
		<result column="gender" property="gender" jdbcType="BOOLEAN" />
		<result column="file_path" property="filePath" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="saveResume" useGeneratedKeys="true" keyProperty="id">
	  <![CDATA[
	  		insert into jd(no,priority,title,client,status,location,duration,payrate,keyword,local,
	  		owner,description,qualification,notes) values(#{no},#{priority},#{title},#{client},#{status},#{location},#{duration}
	  		,#{payrate},#{keyword},#{local},#{owner},#{description},#{qualification},#{notes})
	  	]]>
	</insert>

	<select id="getFileId" resultMap="BaseResultMap">
  		<![CDATA[
	  		select * from jd order by uptime desc 
		]]>
	</select>
	
	<update id="updateStudentById" >
	<![CDATA[
	update jd set 
	]]>	
	</update>
	
	<insert id="insertResource" parameterType="com.wistronits.tms.entity.ImportResourceBean" 
	useGeneratedKeys="true" keyProperty="id">
         insert into import_resource (first_name, last_name, birth,gender,file_path)
     		values (#{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, #{birth,jdbcType=DATE}, 
       			#{gender,jdbcType=BOOLEAN},#{filePath,jdbcType=VARCHAR})
     </insert>
     
     <select id="getAllImportBeans" resultMap="ImportResourceBeanResultMap">
     	select * from import_resource
     </select>
     
     <select id="getResourceByIds" resultMap="ImportResourceBeanResultMap" >
     	select * from import_resource where id in 
     	<foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
  			#{item}  
 		</foreach>
     </select>
     
     <select id="getAllImportBeansCount" resultType="int">
     	select count(*) from import_resource
     </select>
     
</mapper>